{extend name="Layout/index" /}

{block name="title"}修改版块中模块[{$data.id}]{/block}

{block name="main"}
<div style="margin: 15px;">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>修改版块中模块[{$data.id}]</legend>
    </fieldset>

    <form class="layui-form " action="{:url('AppBoard/updateModule')}" method="POST">
        <div class="layui-form-item">
            <label class="layui-form-label">显示样式</label>
            <div class="layui-input-inline">
                <select name="show_type" lay-verify="show_type" lay-search="">
                    <option value="">请选择显示样式</option>
                    {foreach $show_types as $value => $item}
                    <option value="{$value}"{if ($value == $data.show_type) } selected{/if}>{$item.name}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">排序</label>
            <div class="layui-input-inline">
                <input type="text" name="sort" class="layui-input" value="{$data.sort}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-block">
                <input type="checkbox" name="show_status" {if ($data.show_status === 1)}checked{/if} lay-skin="switch" lay-text="显示|隐藏" value="1">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <input type="hidden" name="id" value="{$data.id}">
                <input type="hidden" name="board_id" value="{$data.board_id}">
                <button class="layui-btn" lay-submit="">修改</button>
                <a href="{:url('AppBoard/modules', ['board_id' => $data.board_id])}" class="layui-btn layui-btn-primary">返回</a>
            </div>
        </div>
    </form>
</div>
{/block}

{block name="footer"}
<script>
    layui.config({
        base: '/static/js/'
    });

    layui.use(['form'], function() {
        var form = layui.form;

        //自定义验证规则
        form.verify({
            show_type: function(value) {
                if(value.length < 1) {
                    return '请选择显示类型，前端以此决定怎么渲染数据';
                }
            }
        });
    });
</script>
{include file="Widget/result" /}
{/block}
